.popup {
  border: 1px solid red;
  font-family: 'Inter', Arial, sans-serif;
  position: fixed;
  inset: 0;
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .2s, visibility 0s .2s;
}

